.button {
  @apply text-18 text-center px-5 pb-3 pt-3 text-white bg-black outline-none rounded-[16px] transition-all ease-in-out;
  line-height: 1.1;

  &:focus {
    @apply outline-none;
    background-color: #2c2c2c;
  }

  &:hover {
    &:not(:disabled) {
      @apply bg-mineShaft;
    }
  }

  &:active {
    @apply opacity-60;
    transform: scale(.9);
  }

  &:disabled {
    @apply cursor-not-allowed text-gray-400;
  }

  &--big {
    @apply px-7 py-4;
  }

  &--link {
    @apply inline-block px-5 py-3 text-black bg-transparent outline-none rounded-[16px] transition-all ease-in-out;

    &:focus {
      background-color:  #e8e8e8;
    }
  
    &:hover {
      &:not(:disabled) {
        @apply bg-white;
      }
    }
  
    &:active {
      @apply opacity-60;
      transform: scale(.9)
    }
  }

  &--gray {
    @apply text-black;
    background-color: #f5f5f7;

    &:hover {
      &:not(:disabled) {
        background-color: #f5f5f7;
      }
    }

    &:focus {
      background-color:  #e8e8e8;
    }
  }

  &--outline {
    @apply bg-transparent border text-codGray;
    border-color: #c5c5c5;

    &:hover {
      background-color: white;
    }

    &:focus {
      &:not(:disabled) {
        background-color:  #e8e8e8;
      }
    }
  }

  &--icon {
    @apply flex items-center justify-center w-11 h-11 p-0 bg-transparent rounded-full;

    &:focus {
      background-color:  #e8e8e8;
    }
  
    &:hover {
      &:not(:disabled) {
        @apply bg-white;
      }
    }
  
    &:active {
      @apply opacity-60;
      transform: scale(.9)
    }
  }
  &--icon & {
    &__icon {
      @apply w-11 h-11;

      &-pic {
        @apply w-full h-full text-black;
      }
    }
  }

  &--iconed {
    @apply flex items-center;
  }
  &--iconed & {
    &__icon {
      @apply ml-1.5;
    }
  }
}